.add-task{
    border: 1px solid rgb(195, 195, 195);
    padding: 30px 30px;
    background-color: white;
    border-radius: 12px;
}
#task-input{
    border: 1px solid white;
    width: 86%;
    border-color: rgb(212, 212, 212);
    padding: 10px 10px;
    border-radius: 8px;
    background-color: rgb(236, 236, 236);
    font-size: medium;
}
#add-task{
    padding: 10px 10px;
    border: 1px solid black;
    color: white;
    background-color: black;
    border-radius: 8px;
    font-size: medium;
    cursor: pointer;
    transition: all 0.2s ease;
}
#add-task:hover{
    background-color: #797979;
    transform: translateY(-2px);

    
}
#add-task:active{
    transform: scale(0.97);
}
.completion-bar{
    display: flex;
    background-color: #ebebeb;
    border: 1px soli none;
    border-radius: 20px;
    margin-top: 25px;
    line-height: 0.3;
    padding: 3px;
    gap: 20px;
    
}
.completion-bar button{
    flex: 1;
    padding: 8px 20px;
    border: none;
    font-size: medium;
    font-weight: 600;
    background: transparent;
    border-radius: 20px;
    transition: all 0.2s ease;

}
.completion-bar button.active{
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1) ;
}
.completion-bar button:not(.active):hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255,0.6);
}

.task{
    display: flex;

}
.task label{
    flex: 1;
}
.task button {
    border: none;
    background: none;
    cursor: pointer;
    transition: all 0s ease;
    opacity: 0;
    pointer-events: none;

}
.task:hover button {
    opacity: 1;
    pointer-events: auto;
}
.task button:hover{
    transform: scale(1.5);
}
.task button:active{
    transform: scale(0.95);
}
#task-list{
    border: 1px solid rgb(217, 217, 217);
    border-radius: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 0;
    background-color: white;
}
#task-list li{
    padding: 15px 15px;
    list-style: none;
    font-family:"Roboto Condensed", sans-serif;
    font-size: 22px;
    border-bottom: 0.1px solid gray;
    
}
#task-list input[type="checkbox"] {
    width: 35px;
    height: 16px;
    accent-color: gray;
    border: 1px solid gray;
    transform: scale(1.2);
    
}
#task-list input[type="checkbox"]:checked + .task-text{
    text-decoration: line-through;
    color: gray;
}
#task-list li:hover{
    cursor: pointer;
    background-color: #ebebeb;
    
}
.last-bar{
    display: flex;
    gap: 20px;
}
.fa.fa-trash{
    color: rgb(208, 1, 1);
}