
body{
    height: 100vh;
    margin: 0;
}
.main{
    margin-left: 150px;
    display: flex;
    
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    text-align: center;
    
}

.side-bar{
   position: fixed;
   left: 0;
   top: 0;
   height: 100vh;
   background-color: antiquewhite;
   width: 150px;
   padding: 20px;
}
.side-bar ul {
    list-style: circle;
    
}
.side-bar li{
    padding: 12px 0;
    cursor: pointer;
    align-items: center;
    margin-left: 10px;
    font-size: larger;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
