.cards{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}
.stat-card{
    border: 1px solid rgba(0, 0, 0,0.1);
    flex: 1;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(253, 253, 253);
    margin-top: 10px;

}
.stat-top{
    display: flex;
    justify-content: space-between;
    
}
.progress{
    background-color: rgb(253, 253, 253);
    border: 1px solid rgba(0, 0, 0,0.1);
    margin-top: 25px;
    border-radius: 12px;
    padding: 30px;
}
.progress-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

}
.progress-bar-bg{
    width: 100%;
    height: 20px;
    background-color: #e5e7eb;
    border-radius: 9999px;
    overflow: hidden;
}
.progress-bar-fill{
    height: 100%;
    background: linear-gradient(to bottom right, #2563eb , #8102ff);
    border-radius: 9999px;
}
.progress p {
    font-size: 17px;
    color: rgb(170, 0, 0);
}
.task-sheet{
    border: 1px solid rgba(0, 0, 0,0.1);
    margin-top: 20px;
    background-color: rgb(253, 253, 253);
    border-radius: 12px;
    padding: 30px;
}
.completion, .pending, .total{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.comp{
    color: rgb(2, 199, 2);
}
.pend{
    color: red;
    margin-bottom: 10px;
}
.total{

    border-top: 1px solid rgba(0, 0, 0,0.1);
}